{% extends "base.html" %} {% block head %}
<title>MindPit</title>
{% endblock %} {% block body %}
<div class="container">
    <h1>MindPit</h1>
    <p>
        Share your unused textbooks to other USF students by posting them here!
    </p>
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Image</th>
            <th>Description</th>
            <th>Contact</th>
            <th>Payment Method</th>
            <th>Meetup Location</th>
        </tr>
        <tr>
            <td>banana</td>
        </tr>
    </table>
</div>
{% endblock %}
